.bar-container {
  display: flex;
  height: 2vw;
  background-color: #d3d3d3;
  align-items: center;
}

.title {
  color: #2c2828;
  font-size: 1em;
  font-weight: 750;
  margin-left: 0.5em;
  height: 2vw;
}

.close-btn {
  position: relative;
  margin-left: auto;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.15vw;
  background-color: #3d4143;
  height: 1.6vw;
  width: 1.6vw;
}

.close-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .bar-container {
    display: flex;
    align-items: center;
    height: 3vh;
    background-color: #d3d3d3;
  }

  .title {
    color: #2c2828;
    height: 3vh;
    font-size: 1.8vh;
    font-weight: 750;
    margin-left: 0.5em;
  }

  .close-btn {
    position: relative;
    margin-left: auto;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.15vw;
    background-color: #3d4143;
    height: 2vh;
    width: 2vh;
  }
}
