
.main-menu {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-color: #4c1052;
	resize: both;
	overflow: hidden;
}

.folder-panel {
	float: left;
	margin-left: 3vw;
	margin-top: 3vh;
}
