
.footer {
	display: flex;
	align-items: center;
	height: 4.8vh;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #3d4143;
}

.power-botton {
	margin-left: 1.5vw;
}
.power-botton:hover {
	cursor: pointer;
}

.clock {
	margin-left: auto;
	margin-right: 1vw;
}

@media only screen and (max-width: 680px) {
.power-botton {
	margin-left: 2vw;
}
}