
.background {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #000000;
}

.panel {
	position: relative;
	top: 85%;
	margin-left: auto;
	margin-right: auto;
}

.restart-btn {
	color: #ffffff;
}