.menu {
  background-color: #3d4143;
  width: 15vw;
  height: 30vh;
  z-index: 8;
  border-radius: 1vw;
  position: absolute;
  left: 0.5%;
  bottom: 5.5%;
}

@media only screen and (max-width: 600px) {
  .menu {
    background-color: #3d4143;
    width: 50vw;
    height: 30vh;
    z-index: 8;
  }
}
