form {
	margin-top: 5em;
	display: grid;
	justify-content: center;
}

input {
	width: 30em;
	height: 3em;
	margin-bottom: 3em;
	border-radius: 0.5em;
}

textarea {
	width: 60em;
	height: 25em;
	border-radius: 0.5em;
	margin-bottom: 2.8em;
}

.submit-btn {
	margin-left: auto;
	margin-right: auto;
	width: 8em;
	height: 2em;
	background-color: #d3d3d3;
	color: #000000;
	font-weight: 700;
}